<div class="container">
    
    <app-navbar></app-navbar>
    
    <div class="row mt-3">

        <div class="col-8">
            <div class="border p-0" style="border-radius: 18px;">
                <div class="h3 text-center p-4 m-0 shadow" 
                style="background-color: #99a0d1; border-radius: 18px;">
                    {{"select period"|titlecase}}
                </div>
                <div class="row d-flex text-center m-0">
                    <!-- #selected  -->
                    <!-- [isInvalidDate]="isInvalidDate" -->
                    <!-- [(ngModel)]="selected" -->
                    <ngx-daterangepicker-material 
                        #selected1
                        class="p-0 mt-4 mb-2 " 
                        (choosedDate)="choosedDate($event)"
                        [autoApply]="true" 
                        [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                        name="daterange">
                    </ngx-daterangepicker-material>

                </div>
                

            </div>

            <!-- [ngClass]= "{'shadow': !selected.startDate._d }" -->
            <div class=" mt-4">
                <!-- {{selected.startDate._d}} -->
                <button class="btn col-12" 
                (click)="bookingCar()"
                
                
                style="background-color: #f0f2ff; border-radius: 18px; border:1px solid #99a0d1;">
                    <div class="h3" >
                        {{"booking car"|titlecase}}
                    </div>
                </button>    
            </div>
        </div>
        
        
        <div class="col-4 p-0" *ngIf="car" style="background-color: #f2f3f9; border-radius: 18px; border:1px solid #99a0d1;">
            
            <div class="m-3">
                <img  src="./assets/img/cars/{{car.carId}}.jpg" class="m-0 p-0" 
                    style="border-radius: 18px; border:1px solid #99a0d1;"
                    class="col-12" 
                    alt="">
            </div>
            
            <div class="h4 m-3">
                {{"name"|titlecase}} : {{car.carName}}
            </div>

            <div class="h4 m-3">
                {{"license plate"|titlecase}} : {{car.licensePlate}}
            </div>

        </div>

    </div>
    
</div>

