<div class="container h-100">
    <div class="row pt-5 mt-5">
        <div class="d-none d-md-block col-8 p-3 text-center align-middle">
            <img src="./assets/img/logo_fuma.svg" class="p-2 h-100"  alt="">
        </div>
        <div class="col-md-4 pl-5 pr-5">
            <div class="border bg-light ml-5 mr-5 p-2" style="border-radius: 18px;">
                <div class="h1">
                    {{"login"|titlecase}}
                </div>
                <div class="h5">
                    {{"Fuhrpark Management"|titlecase}}
                    
                </div>
                <div class="p-4" style="background-color: #99a0d1; border-radius: 18px;">

                    <form action="" (ngSubmit)="onSubmit()">
                        
                        <div class="form-group pb-3">
                            <b>
                                <label for="login" class="pb-1 h5">{{"user"|titlecase}}</label>
                            </b>
                            <input class="form-control" type="text" [(ngModel)]="user" name="user" placeholder="{{'Email or UserName'}}">
                        </div>
                        <div class="form-group pb-2">
                            <b>
                                <label for="password" class="pb-1 h5">{{"password"|titlecase}}</label>
                            </b>
                            <input  class="form-control" type="password" [(ngModel)]="password" name="password" placeholder="{{'password'|titlecase}}"> 
                        </div>

                        <div class="form-group pt-4">
                            <button type="submit" class="btn col-12" style="background-color: #f0f2ff;">
                                <b>
                                    <span class=" h5">
                                        {{"login"|titlecase}}
                                    </span>
                                </b>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>