<div class="container">
    
    <app-navbar></app-navbar>
    
    <div class="row mt-2 p-0 pt-2 pb-2 mb-3" style="border: 2px solid black; border-radius: 13px;" >
        <div class="form-group row col text-center">
            <label for="von" class="col-sm-2 col-form-label">{{"from"}}</label>
            <div class="col-sm-10">
                <input [(ngModel)]="from" name="from" id="from" type="date" (change)="dateChange()" class="form-control mt-1"
                style="border-radius: 18px; padding: 3px 16px 3px 16px;">
            </div>
        </div>
        <div class="form-group row col text-center ">
            <label for="bis" class="col-sm-2 col-form-label">{{"to"}}</label>
            <div class="col-sm-10">
                <input [(ngModel)]="to" name="to" id="to" type="date" (change)="dateChange()" class="form-control mt-1"
                style="border-radius: 18px; padding: 3px 16px 3px 16px;">
            </div>
        </div>
        <!-- <div class="col text-center">
            <button type="button" class="btn btn-danger w-25 mt-1 mr-2"
            style="float:right; border-radius: 18px; padding: 3px 16px 3px 16px;">{{"Search"}}</button>
        </div> -->
    </div>
    <div class="row card-wrapper pt-4">
        <div *ngFor="let car of cars" class="col-md-6 col-xl-3">

            <app-car-card [car]=car></app-car-card>

        </div>
    </div>
</div>